@import '../../sass/main.scss';

.tableWrapper {
  // border: 2px solid #444;
  max-width: 800px;
  margin: auto;
}

.departmentName {
  font-size: 20px;
  color: $pink;
  margin: 0 0 20px 0;
  text-align: center;

  @media (max-width: 500px) {
    font-size: 16px;
  }
}

.table {
  border-collapse: collapse;
  width: 100%;
  color: #444;
  font-weight: bold;

  @media (max-width: 500px) {
    font-size: 14px;
  }
}

.tr {
  text-align: center;
  border: 2px solid #444
}


.td {
  padding: 20px 0;
}

.th {
  padding: 20px 0;
}

.bb {

  border-bottom: 1px solid #000;
}


.signed {
  color: #0187C2
}

.abandon,
.cancelled {
  color: #C2B1AE;
  text-decoration: line-through;
}

.me {
  color: $pink;
}