@import '../../sass/main.scss';

.searchInput {
  padding: 5px 15px;
  font-size: 16px;
  border: 2px solid #444;
  appearance: none;
  border-radius: 50px;
  margin-right: 10px;
  outline: none;
  color: #444;
  font-weight: bold;
  width: 120px;
}